---
import AdminForm from "../components/AdminForm.jsx";
import Header from "../components/Header.jsx";

const ENDPOINT = import.meta.env.ENDPOINT;

const cookie = Astro.request.headers.get("cookie");
if (!cookie) {
  return Astro.redirect("/login");
}
---

<div class="overflow-x-auto w-full">
  <Header client:load />
  <AdminForm client:load ENDPOINT={ENDPOINT} />
</div>
