---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
const ENDPOINT = import.meta.env.ENDPOINT;

const getDate = await fetch(ENDPOINT).then((res) => res.json());
---

<Layout>
  <!-- <script>
    import { num } from "../store.js";
    num.subscribe((value) => {
      document.getElementById("num").innerText = value.toString();
      console.log("counter value:", value);
    });
  </script> -->

  <main class="my-4 mx-auto px-8">
    <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-8 place-content-center">
      {
        getDate.map((item, index) => {
          return (
            <Card
              title={item.Title}
              key={item.ID}
              body={item.Description}
              href={"/products/" + index.Title}
              src={"https://storage.googleapis.com" + item.Images[0]}
              hashtag={item.Hashtags[0]}
            />
          );
        })
      }
    </div>
  </main>
</Layout>
