---
import Login from "../components/Login.jsx";
const ENDPOINT = import.meta.env.ENDPOINT;

const cookie = Astro.cookies.get("auth");

if (cookie.value) {
  return Astro.redirect("/admin");
}
---

<div class="overflow-x-auto w-screen h-screen">
  <Login client:load ENDPOINT={ENDPOINT} />
</div>
