---
import Login from "../components/Login.jsx";
import Header from "../layouts/Header.jsx";
const ENDPOINT = import.meta.env.ENDPOINT;

const cookie = Astro.request.headers.get("cookie");
if (cookie) {
  return Astro.redirect("/admin");
}
---

<div class="overflow-x-auto w-screen h-screen">
  <Header client:load admin="KADE JESSA ADMIN"/>
  <Login client:load ENDPOINT={ENDPOINT} />
</div>
