---
import Stipe from "stripe";
const stripe = new Stipe(
  "rk_test_51LxZBODRieJApjECqITmXUGlJVatEgFNGypGwacvmhRGTAlBsYsJD5xhZvSHFf3Mhn7HapnVmL9pUYTNeora6U3t006F09tKpc",
  { apiVersion: "2022-11-15" }
);
// const create = async () => {
//   return await stripe.paymentIntents.create({
//     payment_method_types: ["promptpay"],
//     amount: 10900,
//     currency: "thb",
//   });
// };
// console.log(await create());
const test = async () =>
  await stripe.checkout.sessions.create({
    success_url: "http://localhost:3000",
    cancel_url: "http://localhost:3000",
  });
test();
---

<head>
  <title>Checkout</title>
  <!-- <script src="https://js.stripe.com/v3/"></script> -->
  <!-- <script client>
    import Stripe from "stripe";
    const clientSecret =
      "sk_test_51LxZBODRieJApjECn9EuRJVAyjxMRmNaAUE52vj7Jp3vBxQpYBoKj5Lv1ANbm1Y8f15iPw5GIGGhlRlFXvY0vz9r00lippRKnh";
    const stripe = new Stripe(
      "pk_test_51LxZBODRieJApjECJGYOX0QZxod2Rre3rXIjsRNsAaPxKA4d4cQBTvjvrXRnihTGo2EInBgKqjjn1eNMnRVFQDHn00JlHfhBwJ",
      { apiVersion: "2022-11-15" }
    );
    const paymentIntent = await stripe.paymentIntents.create({
      payment_method_types: ["promptpay"],
      amount: 10900,
      currency: "thb",
    });
  </script> -->

  <title>Checkout</title>
  <script src="https://js.stripe.com/v3/" is:inline></script>
</head>

<script>
  const form = document.getElementById("payment-form");
  const stripe = Stripe(
    "pk_test_51LxZBODRieJApjECJGYOX0QZxod2Rre3rXIjsRNsAaPxKA4d4cQBTvjvrXRnihTGo2EInBgKqjjn1eNMnRVFQDHn00JlHfhBwJ"
  );

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    const clientSecret =
      "pi_3M6zEGDRieJApjEC2jVnqOiO_secret_uxbo4d4krUE1RTDp1IwL0TeGa";
    // Set the clientSecret here you got in Step 2
    stripe
      .confirmPromptPayPayment(clientSecret, {
        payment_method: {
          type: "promptpay",
          billing_details: {
            email: "test@test.com",
          },
        },
      })
      // Stripe.js will open a modal to display the PromptPay QR Code to your customer
      .then((res) => {
        if (res.paymentIntent.status === "succeeded") {
          // The user scanned the QR code
        } else {
          // The user closed the modal, cancelling payment
        }
      });
  });
</script>

<form id="payment-form">
  <div class="form-row">
    <label for="email"> Email</label>
    <input id="email" name="email" required />
  </div>

  <!-- Used to display form errors. -->
  <div id="error-message" role="alert"></div>

  <button id="submit-button">Pay with PromptPay</button>
</form>
