
<div class="flex flex-row justify-center my-4">
  <h1 class="text-4xl"><a href="/">KADE JESSA</a></h1>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
  }
</style>
