---
const ENDPOINT = import.meta.env.ENDPOINT;
const product = Astro.params.product;

const getDate = await fetch(ENDPOINT + "/products/" + product)
  .then((res) => res.text())
  .catch((err) => console.error(err));
console.log(getDate);

// const { ID, Title, Colors, Description, Hashtags, Images } = getDate;

// const Images = getDate.Images;
// const Title = getDate.Title;
---

<div class="grid grid-cols-2 gap-4 px-4">
  <section class="grid grid-cols-1 gap-4">
    <div>
      <!-- <img src={"https://storage.googleapis.com" + Images[0]} alt={Title} /> -->
    </div>
    <div class="grid grid-cols-2 gap-4">
      <!-- {
        Images &&
          Images.map((item) => (
            <img src={"https://storage.googleapis.com" + item} alt={Title} />
          ))
      } -->
    </div>
  </section>
  <section class="divide-y">
    <div>
      <h1>FITTED DRESS WITH 'CD' BUTTONS</h1>
      <p>Black Wool and Silk</p>
      <p>Reference: 111R07A1166_X9009</p>
    </div>
    <div>
      <h4>&#3647 50</h4>
    </div>
    <div
      class="pointer-events-auto relative inline-flex rounded-md bg-white text-[0.8125rem] font-medium leading-5 text-slate-700 shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50 hover:text-slate-900"
    >
      <div class="flex py-2 px-3">Purchase</div>
    </div>
  </section>
</div>
